.cell-normal {
	fill: #aaa;
	stroke: #ccc;
}

.victory-point {
	fill: purple;
	stroke: purple;
}

.cell-repair {
	fill: orange;
	stroke: orange;
}

.cell-pit {
	fill: #333;
	stroke: #888;
}

.robot-1 {
	background: red !important;
	fill: red;
	stroke: red;
}

.robot-2 {
	background: blue !important;
	fill: blue;
	stroke: blue;
}

.robot-3 {
	background: green !important;
	fill: green;
	stroke: green;
}

.robot-4 {
	background: yellow !important;
	fill: yellow;
	stroke: yellow;
}

.dead {
	fill: #333;
	stroke: #333;
	text-decoration: line-through;
	transition: all 1s ease-in-out; 
	transform: opacity(0.0);
}